# Copyright (c) 2023
# SPDX-License-Identifier: Apache-2.0

config STM32LDAC
	bool "Signal from the DAC of STM32L452RE"
	depends on SOC_FAMILY_STM32
	select USE_STM32_LL_PWR
	select USE_STM32_LL_RCC
	select USE_STM32_LL_EXTI
	select USE_STM32_LL_DMA
	select USE_STM32_LL_TIM
	select USE_STM32_LL_DAC
    select USE_STM32_LL_GPIO
	help
	  Enable dac signal in STM32L452
